<html>
  <head>
    <title>t-sne visualization</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="/static/2dscatter.css" charset="utf-8" />
  </head>
  <body>
    <h1>t-sne visualization</h1>
    <div id="scatter"></div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript">
    <!--
    var CSV_FILE = "/static/{{ csv_file }}"
    var IMAGES_FOLDER = "/static/{{ images_folder }}/"
    //-->
    </script>
    <script src="/static/2dscatter.js"></script>
  </body>
</html>
